%form{action: playlist_generate_path, method: "post", name: "artists"}
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %label{:for => "playlist_name"} Playlist Name:
  %input{:name => "playlist_name", :type => "text", maxlength: 20}
  %br
  %br
  %input{type: "submit", value: "Generate Playlist",style: "height:50px; width:1140px"}
  %br
  %br
  - for i in 0..(@artists.count-1)
    .well.well-sm
      %input{name: "artists[]", type: "checkbox", value: "#{@artists[i][:artist]}"}
        %span #{@artists[i][:artist]}
        %span @ #{@artists[i][:venue]},
        %span #{@artists[i][:date]}
        %br
        %br
      %button{type: 'button'}=link_to 'Songkick', @artists[i][:uri], target: "_blank"
      %button.artist{type: 'button', value: @artists[i][:artist]} Listen

:javascript
  $(function(){

    $('.artist').click(
      function(){
        var clicked = $(this);
        var string = clicked.val();
        var artist = string.replace(" ", "+");
        $.getJSON("https://api.spotify.com/v1/search?q=" + artist + "&type=artist",
        function(response){
          if (response.artists.total === 0) {
            alert("No results found");
          }
          else {
            var artist_id = response.artists.items[0].id;
            $.getJSON("https://api.spotify.com/v1/artists/" + artist_id + "/top-tracks?country=US",
            function(response){
              var song_id = response.tracks[0].id;
              clicked.hide();
              clicked.parent().append('<br><br><iframe src="https://embed.spotify.com/?uri=spotify:track:' + song_id + '" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>');
            })
          }
        })
      });

    });
