%form{action: playlist_generate_path, method: "post", name: "artists"}
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %input.btn.btn-success{type: "submit", value: "Generate Playlist", style: "height:50px; width:1140px"}
  %br
  %br
  %input.form-control{:name => "playlist_name", :type => "text", maxlength: 20, placeholder: "Name Your Playlist"}
  %br
  %br
  .row
    .col-md-6
      - for i in 0..(@artist_array[0].count-1)
        .well.well-sm
          %input{name: "artists[]", type: "checkbox", value: "#{@artist_array[0][i][:artist]}"}
            %font{size: 3, face: "arial black"} #{@artist_array[0][i][:artist]}
            %font{size: 3, face: "arial black"} @ #{@artist_array[0][i][:venue]},
            %font{size: 3, face: "arial black"} #{@artist_array[0][i][:date]}
            %br
            %br
          %a.btn.btn-primary.btn-sm{:href => "#{@artist_array[0][i][:uri]}", :role => "button", target: "_blank"} Songkick
          %button.btn.btn-success.btn-sm.artist{type: 'button', value: @artist_array[0][i][:artist]} Listen
    .col-md-6
      - for i in 0..(@artist_array[1].count-1)
        .well.well-sm
          %input{name: "artists[]", type: "checkbox", value: "#{@artist_array[1][i][:artist]}"}
            %font{size: 3, face: "arial black"} #{@artist_array[1][i][:artist]}
            %font{size: 3, face: "arial black"} @ #{@artist_array[1][i][:venue]},
            %font{size: 3, face: "arial black"} #{@artist_array[1][i][:date]}
            %br
            %br
          %a.btn.btn-primary.btn-sm{:href => "#{@artist_array[1][i][:uri]}", :role => "button", target: "_blank"} Songkick
          %button.btn.btn-success.btn-sm.artist{type: 'button', value: @artist_array[1][i][:artist]} Listen

:javascript
  $(function(){

    $('.artist').click(
      function(){
        var clicked = $(this);
        var string = clicked.val();
        var artist = string.replace(" ", "+");
        $.getJSON("https://api.spotify.com/v1/search?q=" + artist + "&type=artist",
        function(response){
          if (response.artists.total === 0) {
            alert("No results found");
          }
          else {
            var artist_id = response.artists.items[0].id;
            $.getJSON("https://api.spotify.com/v1/artists/" + artist_id + "/top-tracks?country=US",
            function(response){
              var song_id = response.tracks[0].id;
              clicked.hide();
              clicked.parent().append('<br><br><iframe src="https://embed.spotify.com/?uri=spotify:track:' + song_id + '" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>');
            })
          }
        })
      });

    });
